<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="angular.min.js"></script>
    <script src="app.js"></script>
    <title></title>
    <!-- Bootstrap -->
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css"> -->
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.2/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body ng-app='myApp' >
    <h1> My Angular App </h1>
    <div ng-controller='myController'>
        <input type="text" ng-model="name" ng-keyup="calculateTotal()">
        <div>total is: {{total}}</div>
        {{name}}
    </div>
    <div ng-controller='msgController'>
        <br> name:{{name}}
        <br> {{::state}}
        <br> {{sayMessage()}}{{feed()}}
        <br> {{state}}
    </div>
    <div ng-controller='msgController1'>
        <br> name:{{name}}
        <br> {{state}}
        <br> {{sayMessage()}}{{feed()}}
        <br> {{state}}
    </div>
    <div ng-controller='msgController2'>
        <br> name:{{name}}
        <br> {{state}}
        <br> {{sayMessage() | custom1: 'argument1' }}{{feed()}}
        <br> {{sayMessage() | custom1: 'argument1' | uppercase }}{{feed()}}
        <br> {{state}}
    </div>
    <div ng-controller='digestController'>
        <br><button ng-click="showNumberOfWatchers()">Log # of Watchers</button>
        <br><button ng-click="countOnce()">count once</button>
        <br><button ng-click="increment()">increment</button>
    </div>
    <div ng-controller='digestController1'>
        <br><button ng-click="showNumberOfWatchers()">Log # of Watchers</button>
        <br><button ng-click="countOnce()">count once</button>
        <br><button ng-click="increment()">increment</button>
        <br>onceCounter : {{onceCount}}
        <br>incrementCounter : {{count}}
    </div>
    <div ng-controller='digestController2'>
        <br><button ng-click="increment()">increment with out digest</button>
        <br><button ng-click="incrementWithDigest()">increment with digest</button>
        <br> Counter : {{count}}
    </div>

    <!-- AngularJs -->
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script> -->
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script> -->
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script> -->
</body>

</html>
